body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header, footer {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #555;
  padding: 10px;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.container {
  display: flex;
  flex: 1;
}

main {
  background: #eee;
  flex: 2;
  padding: 10px;
}

aside {
  background: #ccc;
  flex: 1;
  padding: 10px;
}