@media screen and (min-width: 768px) {
    .hero {
        height: 70vh; /* Ajustar altura según sea necesario */
    }

    .hero .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }

    .data {
        width: 45%;
        margin-right: 10px; /* Espacio entre las cajas */
        padding-right: 10px; /* Espacio interno */
        border-right: 1px solid #ccc; /* Línea divisoria */
        box-sizing: border-box; /* Incluye borde en el ancho total */
    }

    .weather {
        width: 45%;
        margin-left: 10px; /* Espacio entre las cajas */
        padding-left: 10px; /* Espacio interno */
        box-sizing: border-box; /* Incluye borde en el ancho total */
    }

    .weather::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ccc; /* Color de la línea */
        margin-top: 10px; /* Espacio entre la línea y el contenido */
    }
}
